<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>

		<dict>
			<key>cell</key>				    <string>PSGroupCell</string>
		</dict>

		<dict>
			<key>cell</key> 		       	<string>PSStaticTextCell</string>
			<key>cellClass</key> 	      	<string>SLBannerButtonCell</string>
			<key>height</key> 		     	<integer>205</integer>
		</dict>

		<dict>
			<key>cell</key>		            <string>PSGroupCell</string>
			<key>label</key>		        <string>Times</string>
			<key>footerText</key> 	        <string>Fewer to the left, more to the right.</string>
		</dict>

		<dict>
			<key>cell</key>                 <string>PSSliderCell</string>
			<key>cellClass</key>            <string>SLSliderCell</string>
			<key>defaults</key>             <string>com.insanj.sleepyalarm</string>
		   <key>key</key> 			    	<string>timesAmount</string>
			<key>id</key> 			     	<string>TimesSlider</string>
			<key>leftImage</key> 		    <string>crescent.png</string>
			<key>rightImage</key> 	     	<string>fullmoon.png</string>
			<key>min</key> 			    	<real>5</real>
			<key>max</key> 			    	<real>11</real>
			<key>default</key> 		    	<real>8</real>
		</dict>

		<dict>
			<key>cell</key>			     <string>PSGroupCell</string>
			<key>label</key>		     <string>Wait</string>
			<key>footerText</key> 	      <string>How short (left) or long (right) does it take you to fall asleep?</string>
		</dict>

		<dict>
			<key>cell</key>				<string>PSSliderCell</string>
		<key>cellClass</key>            <string>SLSliderCell</string>
			<key>defaults</key>			<string>com.insanj.sleepyalarm</string>
			<key>key</key> 				<string>waitAmount</string>
			<key>id</key> 				<string>WaitSlider</string>
			<key>leftImage</key> 		<string>oppossum.png</string>
			<key>rightImage</key> 		<string>bat.png</string>
			<key>min</key> 				<real>10</real>
			<key>max</key> 				<real>20</real>
			<key>default</key> 			<real>14</real>
		</dict>

		<dict>
			<key>cell</key>			     <string>PSGroupCell</string>
			<key>footerText</key> 	     <string>Normally, the ideal alarms are highlighted in green. If you have an alarm-darkening tweak enabled, using Moon emoji might work better.</string>
		</dict>

		<dict>
			<key>cell</key>				<string>PSSwitchCell</string>
			<key>defaults</key>			<string>com.insanj.sleepyalarm</string>
			<key>key</key> 				<string>useMoons</string>
			<key>id</key> 				<string>MoonSwitch</string>
			<key>label</key> 			<string>Use Moon Indicators</string>
			<key>default</key> 			<false/>
			<key>PostNotification</key> <string>com.insanj.sleepyalarm/moons</string>
		</dict>

		<dict>
			<key>cell</key>				<string>PSGroupCell</string>
			<key>footerText</key>	    <string>© 2014 Julian (insanj) Weiss</string>
		</dict>

		<dict>
			<key>cell</key> 		  	<string>PSStaticTextCell</string>
			<key>cellClass</key> 	 	<string>SLDoubleButtonCell</string>
			<key>height</key> 			<integer>80</integer>
		</dict>

	</array>
	<key>title</key>	<string>SleepyAlarm</string>
</dict>

</plist>
