<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>

		<dict>
			<key>cell</key>				    <string>PSGroupCell</string>
		</dict>

		<dict>
			<key>cell</key> 		       	<string>PSStaticTextCell</string>
			<key>cellClass</key> 	      	<string>SLBannerButtonCell</string>
			<key>height</key> 		     	<integer>205</integer>
		</dict>

		<dict>
			<key>cell</key>		            <string>PSGroupCell</string>
			<key>label</key>		        <string>Times</string>
			<key>footerText</key> 	        <string>How many times should you be able to select from?</string>
		</dict>

		<dict>
			<key>cellClass</key> 			<string>SLStepperTableCell</string>
			<key>default</key> 				<real>8</real>
			<key>defaults</key> 			<string>com.insanj.sleepyalarm</string>
			<key>key</key> 					<string>timeAmount</string>
			<key>id</key> 					<string>TimeSlider</string>
			<key>label</key> 				<string>%i Times</string>
			<key>max</key> 					<real>20</real>
			<key>min</key> 					<real>5</real>
			<key>singularLabel</key> 		<string>1 Time</string>
		</dict>

		<dict>
			<key>cell</key>			     <string>PSGroupCell</string>
			<key>label</key>		     <string>Wait</string>
			<key>footerText</key> 	      <string>How short or long does it take you to fall asleep?</string>
		</dict>

		<dict>
			<key>cellClass</key> 			<string>SLStepperTableCell</string>
			<key>default</key> 				<real>14</real>
			<key>defaults</key> 			<string>com.insanj.sleepyalarm</string>
			<key>key</key> 					<string>waitAmount</string>
			<key>key</key> 					<string>WaitSlider</string>
			<key>label</key> 				<string>%i Minute Wait</string>
			<key>max</key> 					<real>60</real>
			<key>min</key> 					<real>1</real>
			<key>singularLabel</key> 		<string>1 Minute Wait</string>
		</dict>
		

		<dict>
			<key>cell</key>			     <string>PSGroupCell</string>
			<key>footerText</key> 	     <string>Normally, the ideal alarms are highlighted in green. If you have an alarm-darkening tweak enabled, using Moon emoji might work better.</string>
		</dict>

		<dict>
			<key>cell</key>				<string>PSSwitchCell</string>
			<key>defaults</key>			<string>com.insanj.sleepyalarm</string>
			<key>key</key> 				<string>useMoons</string>
			<key>id</key> 				<string>MoonSwitch</string>
			<key>label</key> 			<string>Use Moon Indicators</string>
			<key>default</key> 			<false/>
			<key>PostNotification</key> <string>com.insanj.sleepyalarm/moons</string>
		</dict>

		<dict>
			<key>cell</key>				<string>PSGroupCell</string>
			<key>footerText</key>	    <string>© 2014-2015 Julian (insanj) Weiss</string>
		</dict>

	  	<dict>
	  		<key>big</key> 				<true/>
	  		<key>cellClass</key> 		<string>SLTwitterTableCell</string>
	  		<key>height</key> 			<integer>56</integer>
	  		<key>label</key> 			<string>Julian Weiss</string>
	  		<key>user</key> 			<string>insanj</string>
	  	</dict>

	</array>
	<key>title</key>	<string>SleepyAlarm</string>
</dict>

</plist>
